<div class="modal-content">
<div class="modal-header">
  <h4 class="modal-title"> Product</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-row">
    <div class="form-group col">
      <label for="nameProduct">Name: </label>
      <input type="nameProduct" class="form-control" id="nameProduct" aria-describedby="nameProductHelp" placeholder="Enter nameProduct">
    </div>
    </div>
    <div class="form-row">
    <div class="form-group col">
      <label for="quantity">quantity: </label>
      <input type="quantity" class="form-control" id="quantity" aria-describedby="quantityHelp" placeholder="Enter quantity">
    </div>
    <div class="form-group col">
      <label for="price">price: </label>
      <input type="price" class="form-control" id="price" aria-describedby="priceHelp" placeholder="Enter price">
    </div>
    </div>
    <div class="form-row">
    <div class="form-group col">
      <label for="category">category: </label>
      <input type="category" class="form-control" id="category" aria-describedby="categoryHelp" placeholder="Enter category">
    </div>

    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  <button type="button" class="btn btn-outline-dark" (click)="add(product)">Guardar</button>
</div>



</div>
